# Basic mathematical operations can be done

In [1]:
print(1+3)

4

In [2]:
print(1*3)

3

In [3]:
print(3**2)

9

In [4]:
print(pow(3,2))

9

In [5]:
print(5/2)

2.5

In [6]:
print(5//2)

2

In [7]:
print(5%2)

1

# Print function is not needed in Jupyter notebook for printing

In [7]:
12+34-32

14

In [8]:
# But if you want to print 2 print funtion, then you must use print funtion for 1st printing

print(12+34-32)
12+55

14

67

# Basic relational operations can be done

In [9]:
45>20

True

In [10]:
23==34

False

In [11]:
32<=32

True

In [12]:
24!=45

True

# Basic logical operations can be done

In [13]:
3>2 and 3!=4

True

In [14]:
3==4 and 5<7

False

In [15]:
3==4 or 5<7

True

In [19]:
not 3==4

True

In [20]:
not 3!=4

False

# Primitive data types

In [21]:
type(2)

int

In [22]:
type(3.123)

float

In [23]:
type("Dog")

str

In [24]:
type(True)

bool

In [21]:
type(False)

bool

# Checking whether a value is in a specific type or not

In [25]:
isinstance(2,int)

True

In [26]:
isinstance(3.455,float)

True

In [27]:
isinstance(3.455,int)

False

In [28]:
isinstance([12, 45], list)             # checking [12, 45] object in list class

True

# Type casting

In [29]:
int(3.212)

3

In [30]:
float(3)

3.0

In [31]:
int("45")

45

In [1]:
str(45)

'45'

# Python variables

In [33]:
x=20
y=30
print(x+y)

50

In [34]:
z=x-y
print(z)

-10

In [35]:
s=x>30
print(s)

False

In [36]:
p="Today is a beatiful day!!"
print(p)

Today is a beatiful day!!

# Special features of Python variables

In [38]:
a=b=c=10

In [39]:
a

10

In [40]:
b

10

In [41]:
c

10

In [42]:
p,q=10,20

In [43]:
p

10

In [44]:
q

20

# User inputs

In [2]:
name=input("Please enter your name: ")
print(name)

Please enter your name: Tharaka
Tharaka

In [3]:
age=input("Please enter your age: ")
print(age)

Please enter your age: 25
25

In [47]:
type(age)

str

In [4]:
age_2years=int(age)+2
print(age_2years)

27

In [49]:
num1=float(input("Enter the first value:"))
num2=float(input("Enter the second value:"))

num3=num1+num2
print(num3)

Enter the first value:21
Enter the second value:12
33.0

# Python comments

In [50]:
#This is the first number
num1=20

#This is the second number
num2=30

print(num1+num2)

50

In [51]:
'''
This is the doc string
This can be used for multiple lines as well
'''

print(25+40)

65